/* For layout purposes:
*{
  border: 1px solid red;
} 
*/

#jobs-board{
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.job-card{
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  width: 250px;
  height: auto;
  box-shadow: 0px 0.5vw 0.5vh 0px gray;
  margin: 2vh 2vw 0px 0px;
}